html, body, #map_canvas {
	margin: 0;
	padding: 0;
}

#header_bar {
	height: 45px;
	background-color:#333333;
}

#overhang_bar {
	height: 15px;
	background-color:#1d7713;
	border-top:dotted #22ad29 2px;
	border-bottom: solid #20680a 1px;
}

#hidden_h1 {
	display: none;
}

#map_canvas {
	height: 100%;
}

#hanging_header_img {
	display: block;
	position: absolute;
	top: 4px;
	left: 4px;
}